.todo-form {
  padding: 20px;
  background: transparent;
  max-width: 90%;
}
label {
  font-family: "Inconsolata", monospace;
  font-size: 1.2rem;
  font-style: italic;
  margin-left: 0.5em;
  vertical-align: bottom;
}

input[type="text"] {
  max-width: 20em;
  background: transparent;
  border: none;
  border-bottom: 2px solid #00ccff;
  vertical-align: bottom;
}

input[type="text"]:focus,
input[type="text"]:active {
  background: transparent;
}

input[type="submit"] {
  font-size: 1.4rem;
  font-weight: 900;
  background-color: #66cc99;
  border: 2px solid #00cc99;
  border-radius: 50%;
  color: #ffffff;
  transition: 0.5s;
  cursor: pointer;
  margin-left: 0.5em;
}

input[type="submit"]:hover {
  background-color: #00ccff;
  border: 2px solid #0099ff;
}
